body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
}

.dark-mode {
    background-color: black;
    color: white;
    
}

#dark{
    width: 40px;
    height: 40px;
    cursor: pointer;
    
}